---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        Victor Foster
      </span>
    </h1>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div>
    <p class="mb-5">
      Hello, my name is Victor. I'm a frontend engineer and digital nomad living in Seattle, WA.
      I enjoy crafting beautiful, performant, and accessible web applications.

</p>
<p>

      I developed a passion for the frontend due to the empathy required in creating user-centered products. I enjoy the constant learning required with the evolving web platform (I love HTML, CSS and JavaScript). I'm an advocate of the web and following modern best practices. I believe in embracing the DevOps Mindset where experimentation is encouraged and continuous delivery is embraced.
    </p>
    <p class="text-center whitespace-nowrap overflow-auto">
      <code class="py-1 px-2">npx create-blogster@latest --theme bubblegum</code>
    </p>
  </div>
</section>
